<nav class="main-navigation-container">
  <a class="main-navigation-container__link" routerLink="/player-character-generator" routerLinkActive="active">Char Gen</a>
  <a class="main-navigation-container__link" routerLink="/player-character/Оксана_Гремми" routerLinkActive="active">Оксана Гремми</a>
  <a class="main-navigation-container__link" routerLink="/player-character/Алексей_Рован" routerLinkActive="active">Алексей Рован</a>
  <a class="main-navigation-container__link" routerLink="/player-character/Диана_Скарлет" routerLinkActive="active">Диана Скарлет</a>
</nav>
