.main-navigation-container{
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: black;

  padding: 0.5em;

  &__link, &__link:visited{
    color: white;
    text-decoration: none;
  }
}
