<div [ngSwitch]="formTabsOptions">
  <button (click)="switchTab(-1)"><</button>
  <button (click)="switchTab(1)">></button>
  <ng-template ngSwitchCase="0">
    <h3>Создание персонажа</h3>
    <app-input
      [options]="{
        id: 'playerName',
        label: 'Как вас зовут?'
      }"
      [(ngModel)]="playerCharacter.playerName" ngDefaultControl
    ></app-input>
    <p>Мне не нужна помощь в создании персонажа</p>
    <p>Создать случайного персонажа</p>
  </ng-template>
  <ng-template ngSwitchCase="1">
    <h3>Давайте выберем рассу персонажа</h3>
    <div class="main-character-generator__item">
      <label for="race">Расса</label>
      <select [(ngModel)]="playerCharacter.race" name="" id="race">
        <option value="gnome">Гном</option>
        <option value="human">Человек</option>
      </select>
    </div>
    <div class="main-character-generator__item">
      <label for="sex">Пол</label>
      <select name="" id="sex" [(ngModel)]="playerCharacter.sex">
        <option value="male">Мужской ♂</option>
        <option value="female">Женский ♀</option>
      </select>
    </div>
    <div class="main-character-generator__item">
      <label for="humanAge">Возраст (Чел.)</label>
      <input type="text" id="humanAge" [(ngModel)]="playerCharacter.humanAge" placeholder="">
    </div>
    <div class="main-character-generator__item">
      <label for="height">Рост</label>
      <select [(ngModel)]="playerCharacter.height" name="" id="height">
        <option value="0.8">Очень низкий</option>
        <option value="0.9">Низкий</option>
        <option value="1">Средний</option>
        <option value="1.1">Высокий</option>
        <option value="1.2">Очень высокий</option>
      </select>
    </div>
    <div class="main-character-generator__item">
      <label for="weight">Вес</label>
      <select [(ngModel)]="playerCharacter.weight" name="" id="weight">
        <option value="0.8">Очень низкий</option>
        <option value="0.9">Низкий</option>
        <option value="1">Средний</option>
        <option value="1.1">Высокий</option>
        <option value="1.2">Очень высокий</option>
      </select>
    </div>
  </ng-template>
  <ng-template ngSwitchCase="2">
    <h3>Выберите клас персонажа</h3>
  </ng-template>
  <ng-template ngSwitchCase="3">
    <h3>Предыстория</h3>
  </ng-template>
  <ng-template ngSwitchCase="4">
    <h3>Теперь ролим атрибуты</h3>
  </ng-template>
  <ng-template ngSwitchCase="5">
    <h3>Стартовая экипировка</h3>
  </ng-template>
  <ng-template ngSwitchCase="6">
    <h3>Последние штрихи</h3>
    <div class="main-character-generator__item">
      <label for="characterName">Дайте имя своему персонажу</label>
      <input
        type="text"
        id="characterName"
        [(ngModel)]="playerCharacter.characterName"
        placeholder=""
      >
    </div>
    <div class="main-character-generator__item">
      <label for="imageUrl">Как он выглядит?</label>
      <input
        type="text"
        id="imageUrl"
        [(ngModel)]="playerCharacter.imageUrl"
        placeholder="Ссылка на портрет"
      >
    </div>
    <div [className]="'main-character-generator__item'">
      <img
        [className]="'main-character-generator__image'"
        src="{{playerCharacter.imageUrl || 'assets/img/default-user-icon-4.jpg'}}"
        alt="Player Character Image"
      >
    </div>
  </ng-template>
</div>

<div class="main-character-generator">
  <button>Предпросмотр персонажа</button>
  <br>
  <button (click)="setCharacter()">Save</button>
</div>

