<nav class="main-navigation-container">
  <a class="main-navigation-container__link" routerLink="/player-character-generator" routerLinkActive="active">Char Gen</a>
  <a class="main-navigation-container__link" routerLink="/player-character/Оксана_Гремми" routerLinkActive="active">Гремми</a>
  <a class="main-navigation-container__link" routerLink="/player-character/Алексей_Рован" routerLinkActive="active">Рован</a>
  <a class="main-navigation-container__link" routerLink="/player-character/Диана_Скарлет" routerLinkActive="active">Скарлет</a>
  <a class="main-navigation-container__link" routerLink="/player-character/a_a" routerLinkActive="active">test</a>
</nav>
