<nav class="main-navigation-container">
    <details class="menu-lvl-1">
        <summary>Меню</summary>
      <hr>
      <div [ngStyle]="{flexDirection: 'column', display: 'flex'}">
        <div *ngIf="currentUser.signedIn" [className]="'currentUser'">
          <img [alt]="'avatar'" [className]="'currentUser__image'" [src]="currentUser.imageUrl">
          <span [className]="'currentUser__login'">{{currentUser.login}}</span>
          <button (click)="signOutCurrentUser()">Sign-out</button>
        </div>
        <div *ngIf="!currentUser.signedIn" [className]="'currentUser'"
             [ngStyle]="{flexDirection: 'column', display: 'flex'}">
          <input [(ngModel)]="regUserForm.email" [className]="'currentUser__input'" placeholder="your email" type="text">
          <input [(ngModel)]="regUserForm.password" [className]="'currentUser__input'" placeholder="your password"
                 type="password">
          <button (click)="signIn()">Sign-in</button>
        </div>

      </div>
        <div class="link-container">
          <a class="main-navigation-container__link" routerLink="/">Главная</a>
          <a class="main-navigation-container__link" routerLink="/character-generator">Генератор персонажа</a>
          <a class="main-navigation-container__link" routerLink="/sign-up">Регистрация</a>
        </div>
        <hr>
        <details class="menu-lvl-2">
          <summary>Персонажи</summary>
          <div [ngStyle]="{display: 'flex', flexDirection: 'column'}">
            <a
              *ngFor="let character of allCharacters"
              [className]="'main-navigation-container__link'"
              [routerLink]="'/character/' + character.id">
              {{character.id}}
            </a>
          </div>
        </details>
      <button (click)="getCurrentUser()">Get user</button>
      <button (click)="signOutCurrentUser()">Sign out</button>
    </details>

</nav>
