<nav class="main-navigation-container">
    <details class="menu-lvl-1">
        <summary>Меню</summary>
        <div class="link-container">
          <a class="main-navigation-container__link" routerLink="/">Главная</a>
          <a class="main-navigation-container__link" routerLink="/character-generator">Генератор персонажа</a>
          <a class="main-navigation-container__link" routerLink="/sign-up">Регистрация</a>
        </div>
        <hr>
        <details class="menu-lvl-2">
          <summary>Персонажи</summary>
          <div class="link-container">
            <a class="main-navigation-container__link" routerLink="/character/Оксана_Гремми">Гремми</a>
            <a class="main-navigation-container__link" routerLink="/character/Алексей_Рован">Рован</a>
            <a class="main-navigation-container__link" routerLink="/character/Диана_Скарлет">Скарлет</a>
            <a class="main-navigation-container__link" routerLink="/character/a_a">test</a>
          </div>
        </details>
    </details>
</nav>
