.menu{
  display: flex;
  &__item{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    &:hover{
      background-color: red;
    }
  }
  &__image{
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}
