<div>
  <h3>Выберите класс персонажа</h3>
  <select id="characterClass" [(ngModel)]="generatingCharacter.about.info.classes[0].name">
    <option *ngFor="let charClass of classList" value="{{charClass.value}}">{{charClass.title.ru}}</option>
  </select>
  <div [ngSwitch]="generatingCharacter.about.info.classes[0].name">
    <div *ngFor="let charClass of classList">
      <div *ngSwitchCase="charClass.value">
      </div>
    </div>
  </div>
  <button (click)="saveClass()">Save class</button>
</div>
