<div>
  <h3>Выберите рассу персонажа</h3>
  <select id="race" [(ngModel)]="generatingCharacter.about.info.race">
    <option *ngFor="let race of racesList" value="{{race.value}}">{{race.title.ru}}</option>
  </select>
  <div [ngSwitch]="generatingCharacter.about.info.race">
    <div *ngFor="let race of racesList">
      <div *ngSwitchCase="race.value">
        <h3>Выберите подрассу персонажа</h3>
        <select id="subRace" [(ngModel)]="generatingCharacter.about.info.subRace">
          <option *ngFor="let subRace of race.subRaces" value="{{subRace.value}}">{{subRace.title.ru}}</option>
        </select>
        <div [ngSwitch]="generatingCharacter.about.info.subRace">
          <div *ngFor="let subRace of race.subRaces">
            <div *ngSwitchCase="subRace.value">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <app-character-generator-select-->
<!--    (raceInParentComponentSet)="onRaceInParentComponentSet($event)"-->
<!--    [switchingAttribute]="generatingCharacter.about.info.race"-->
<!--    [options]="racesList"-->
<!--  >-->
<!--    <app-character-generator-select-->
<!--      (raceInParentComponentSet)="onSubRaceInParentComponentSet($event)"-->
<!--      [switchingAttribute]="generatingCharacter.about.info.subRace"-->
<!--      [options]="getSubRaceList(generatingCharacter.about.info.race)"-->
<!--    ></app-character-generator-select>-->
<!--  </app-character-generator-select>-->
  <button (click)="saveRace()">Save race</button>
</div>
