.container{
  display: flex;
  flex-direction: column;
  /*height: 100vh;*/
  height: 568px;
  width: 320px;
  border: 1px solid black;
}
.content{
  height: 100%;
}

.mobile-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 1200px) {
  .container {
    zoom: 150%
  }
}
