<!--The content below is only a placeholder and can be replaced.-->
<div>
<!--  <app-player-character-generator></app-player-character-generator>-->
<!--  <app-player-character-page></app-player-character-page>-->
  <h1>Navigation</h1>
  <nav>
    <a routerLink="/player-character-generator" routerLinkActive="active">player-character-generator</a>
    <br>
    <a routerLink="/player-character/Оксана_Гремми" routerLinkActive="active">Оксана Гремми</a>
    <br>
    <a routerLink="/player-character/Алексей_Рован" routerLinkActive="active">Алексей Рован</a>
    <br>
    <a routerLink="/player-character/Диана_Скарлет" routerLinkActive="active">Диана Скарлет</a>
  </nav>
  <router-outlet></router-outlet>
</div>

