<form
  (ngSubmit)="onSubmit(registerForm)"
  [className]="'registration-form'"
  [formGroup]="registerForm">
  <div [className]="'registration-form__item'">
    <label [className]="'registration-form__label'">
      <span>Your login</span>
      <input formControlName="login" placeholder="Your login" type="text">
    </label>
    <div *ngIf="(form.login.dirty || form.login.touched) && form.login.errors"
         class="invalid-feedback">
      <div *ngIf="form.login.errors.required">Login is required</div>
    </div>
  </div>
  <div [className]="'registration-form__item'">
    <label [className]="'registration-form__label'">
      <span>Your email</span>
      <input formControlName="email" placeholder="Your email" type="text">
    </label>
    <div *ngIf="(form.email.dirty || form.email.touched) && form.email.errors"
         class="invalid-feedback">
      <div *ngIf="form.email.errors.required">Email is required</div>
      <div *ngIf="form.email.errors.email">Email must be a valid email address</div>
    </div>
  </div>
  <div [className]="'registration-form__item'">
    <label [className]="'registration-form__label'">
      <span>Your password</span>
      <input formControlName="password" placeholder="Your password" type="password">
    </label>
    <div *ngIf="(form.password.dirty || form.password.touched) && form.password.errors"
         class="invalid-feedback">
      <div *ngIf="form.password.errors.required">Password is required</div>
      <div *ngIf="form.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div [className]="'registration-form__item'">
    <label [className]="'registration-form__label'">
      <span>Confirm password</span>
      <input formControlName="passwordConfirm" placeholder="Confirm password" type="password">
    </label>
    <div *ngIf="(form.passwordConfirm.dirty || form.passwordConfirm.touched) && form.passwordConfirm.errors"
         class="invalid-feedback">
      <div *ngIf="form.passwordConfirm.errors.required">Confirm Password is required</div>
      <div *ngIf="form.passwordConfirm.errors.mustMatch">Passwords must match</div>
    </div>
  </div>
  <button type="submit">Send</button>
</form>
